{% extends 'index.html' %}


{% block content %}

<a href="/list">Home</a><br>
<div id="subtitle_name"><h2>Edit question: {{ data.title }}</h2></div><br><br>
<form action="/question/{{id}}/edit" method="POST">

    <label for="title">Title:</label><br>
    <input id="title" name="title" type="text" size="40" value="{{ data.get('title','') }}"><br><br>

    <label for="message">Message:</label><br>
    <textarea id="message" name="message" rows="5" cols="40">{{ data.get('message','') }}</textarea><br><br>

    <label for="image">Add your image:</label><br>
    <input type="url" id="image" name="image" value="{{ data.get('image','') }}"><br>

    <button type="submit">Update Question</button>
</form>


{% endblock %}


