{% extends 'index.html' %}

{% block content %}


<body>
    <h4><a href="/question/{{ id }}">Back to question</a></h4>
    <div id="subtitle_name"><h2>Post a new answer</h2></div>

    <form action="/question/{{ id }}/new_answer" method="POST">

        <h4><label for="message">Message:</label><br></h4>
        <textarea id="message" name="message" placeholder="new answer" rows="10" cols="30"></textarea><br><br>

        <h4><label for="image">Add image url: </label></h4><br>
        <input type="url" id="image" name="image"><br>

        <br><button type="submit">Submit</button>
    </form>

</body>
{% endblock %}


